extends layout

block container
  h2 Poster Presentations

  table.table.table-bordered
    thead
      tr
        th Time
        th Session
        th Author(s)
        th Title
        th Room
    tbody
      each proposal in proposals
        - var authors = proposal.author;
        - proposal.other_authors.forEach(function(auth){ authors += ", " + auth.name;});
        tr
          td #{proposal.time}
          td #{proposal.session}
          td #{authors}
          td 
            a(href!="/conference-submission/view-proposal?session=#{proposal.session}") #{proposal.title}
          td #{proposal.room}




  