extends layout

block container
  - var authors = [proposal.author].concat( _(proposal.other_authors).map(function(a) { return a.first_name + " " + a.last_name}));

  h3 #{proposal.title}
  h4 Authors: #{authors}
  h4 Sponsor: #{proposal.sponsor_name}

  p #{proposal.content}

  div 
    if proposal.type == "Oral Presentation"
      a(href="/#{top_dir}/orals") Return to the FSU Conference Oral Presentations
    else
      a(href="/#{top_dir}/posters") Return to the FSU Conference Poster Presentations