extends iframe-layout

block container
  h2 Judges

  table.table.table-bordered
    thead
      tr
        th Name
        th Role
        th Judging Sessions
        th Presentation Types
        th Subjects
    tbody
      each judge in judges
        - var theSessions = judge.session.join(", ");
        - var thePresentations = judge.presentation.join(", ");
        - var role = /(\w+)@(student\.)?fitchburgstate\.edu/.exec(judge.email)[2]?"student":"faculty";
        tr
          td #{judge.name}
          td #{role}
          //td #{judge.email}
          td #{theSessions}
          td #{judge.type}
          td #{thePresentations}
      



  