extends layout

block script
  script(type="text/javascript",src="/#{top_dir}/javascripts/apps/require-config.js").
  script(type="text/javascript").
    require.config = { "/#{top_dir}/javascripts/apps/JudgeFeedback.js": {
          user: !{JSON.stringify(user)},
          proposals: !{JSON.stringify(proposals)}
      }
    };

  script(type='text/javascript',data-main='/#{top_dir}/javascripts/apps/JudgeFeedback.js',src='/#{top_dir}/javascripts/bower_components/requirejs/require.js').


block container
  h2 Submit Feedback
  p
    | You have the following proposals to judge. (There is one per tab).  Please fill in all of the details and click the "Save Feedback"
    | button to ensure your comments are saved.
  #feedback-container


block templates
  script#feedback-tabs-template(type='text/template')
    ul.nav.nav-tabs.feedback-tabs
    .tab-content.feedback-content

  script#feedback-tab-template(type='text/template')
    li
      a(href!="#tab-num-<%=prop_num%>",data-toggle="tab") <%=author%>

  script#poster-feedback-template(type='text/template')
    table.table
      tr
        td.col-sm-03(style="font-size:200%; font-weight: bold;") Poster Presentation Feedback
        td.col-sm-03
          button.btn.btn-default.save-feedback-button(data-saved-text="Feedback Saved") Save Feedback
        td.warn-submit.col-sm-04.invisible  Make sure that you Click the Save Feedback button

    table.table.table-bordered
      tr
        td.col-sm-2.header Category
        td.col-sm-8.header Features of a Perfect Score
        td.col-sm-2.header Score
      tr
        td.col-sm-2.header Visual Design
        td.col-sm-8
          ul
            li visual materials look professional
            li appropriate amount of text
            li presentation is legible and easy to follow
            li figures are used appropriately
            li material is presented logically
        td.col-sm-2
          select.visual-design
      tr
        td.col-sm-2.header Verbal Presentation
        td.col-sm-8
          ul
            li narrative is logical and concise
            li speaking is clear
            li presentation style is professional
            li personal appearance and behavior are appropriate 

        td.col-sm-2
          select.verbal-presentation
      tr
        td.col-sm-2.header Organization and Logic
        td.col-sm-8
          ul
            li objective is clearly stated
            li methods are clear and appropriate
            li results are explained clearly
            li explanations are in layman's term where appropriate

        td.col-sm-2
          select.organization-and-logic
      tr
        td.col-sm-2.header Knowledge of the Field
        td.col-sm-8
          ul
            li topic is interesting and appropriate for the field 
            li grasp of broader context is evident
            li answers to questions are clear and correct
        td.col-sm-2
          select.knowledge
      tr
        td.col-sm-2.header Overall Impression
        td.col-sm-8
          ul
            li topic choice is impressive compared to others
            li content/work is impressive compared to others
            li presentation quality is strong compared to others
            li conclusion was strong
            li presentation is on par with a general undergraduate conference
        td.col-sm-2
          select.overall
      tr
        td.col-sm-2
        td.col-sm-8(style="text-align: right") Total Score
        td.total-score.col-sm-2
      tr
        td(colspan="3").col-sm-12
          em
            | The section below is OPTIONAL.  Comments will go to the students after the conference to give them 
            | feedback and improve their presentation skills.  They will not be used in the scoring to the contest.  
      tr
        td.col-sm-2 General Comments
        td(colspan="2").col-sm-10
          textarea.comments(rows="6")
      tr
        td(colspan="3").col-sm-12
          button.btn.btn-default.save-feedback-button(data-saved-text="Feedback Saved") Save Feedback



  script#oral-feedback-template(type='text/template')
    table.table
      tr
        td.col-sm-03(style="font-size:200%; font-weight: bold;") Oral Presentation Feedback
        td.col-sm-03
          button.btn.btn-default.save-feedback-button(data-saved-text="Feedback Saved") Save Feedback
        td.warn-submit.col-sm-04.invisible  Make sure that you Click the Save Feedback button

    table.table.table-bordered
      tr
        td.col-sm-2.header Category
        td.col-sm-8.header Features of a Perfect Score
        td.col-sm-2.header Score
      tr
        td.col-sm-2.header Visual Design
        td.col-sm-8
          ul
            li visual materials look professional
            li appropriate amount of text
            li presentation is legible and easy to follow
            li figures are used appropriately
            li material is presented logically
        td.col-sm-2
          select.visual-design
      tr
        td.col-sm-2.header Verbal Presentation
        td.col-sm-8
          ul
            li narrative is logical and concise
            li speaking is clear
            li presentation style is professional
            li personal appearance and behavior are appropriate 

        td.col-sm-2
          select.verbal-presentation
      tr
        td.col-sm-2.header Organization and Logic
        td.col-sm-8
          ul
            li objective is clearly stated
            li methods are clear and appropriate
            li results are explained clearly
            li explanations are in layman's term where appropriate

        td.col-sm-2
          select.organization-and-logic
      tr
        td.col-sm-2.header Knowledge of the Field
        td.col-sm-8
          ul
            li topic is interesting and appropriate for the field 
            li grasp of broader context is evident
            li answers to questions are clear and correct
        td.col-sm-2
          select.knowledge
      tr
        td.col-sm-2.header Overall Impression
        td.col-sm-8
          ul
            li topic choice is impressive compared to others
            li content/work is impressive compared to others
            li presentation quality is strong compared to others
            li conclusion was strong
            li presentation is on par with a general undergraduate conference
        td.col-sm-2
          select.overall
      tr
        td.col-sm-2
        td.col-sm-8(style="text-align: right") Total Score
        td.total-score.col-sm-2
      tr
        td(colspan="3").col-sm-12
          em
            | The section below is OPTIONAL.  Comments will go to the students after the conference to give them 
            | feedback and improve their presentation skills.  They will not be used in the scoring to the contest.  
      tr
        td.col-sm-2 General Comments
        td(colspan="2").col-sm-10
          textarea.comments(rows="6")
      tr
        td(colspan="3").col-sm-12
          button.btn.btn-default.save-feedback-button(data-saved-text="Feedback Saved") Save Feedback
