extends layout

block container
  h2 Poster Presentations

  table.table.table-bordered
    thead
      tr
        th Time
        //th Session
        th Author(s)
        th Title
        th Room
    tbody
      each proposal in proposals
        - var authors = [proposal.author].concat( _(proposal.other_authors).map(function(a) { return a.first_name + " " + a.last_name}));
        tr
          td #{proposal.time}
          //td #{proposal.session}
          td #{authors}
          td 
            a(href!="/#{top_dir}/proposals/#{proposal._id}") #{proposal.title}
          td #{proposal.room}




  