extends iframe-layout

block container
  h2 Poster Presentations
  table.table.table-bordered
    thead
      tr
        th Session
        th Author(s)
        th Title
    tbody
      each proposal in proposals
        - var authors = [proposal.author].concat( _(proposal.other_authors).map(function(a) { return a.first_name + " " + a.last_name}));
        tr
          td #{proposal.session}
          td #{authors.join(", ")}
          td 
            a(href!="/#{top_dir}/proposals/#{proposal._id}") #{proposal.title}
      



  